@font-face {
    font-family: 'Syne';
    src: url('syneR/Syne-Regular.woff2') format('woff2'),
        url('syneR/Syne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Syne';
    src: url('Syne-Bold.woff2') format('woff2'),
        url('Syne-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Syne';
}

main{
    background: url(../images/Background.jpg);
    background-size: cover;
    
}
.container{
    width: 92%;
    margin: 0 auto;
    
}
.main-container{
    background: url(../images/containerimg.jpg);
    background-size: 100%;
    padding: 0 0 160px 0;
}
.inside-main-container{
    width: 1360px;
    margin: 0 auto;
}

/* grp one */

.ctimg {
    text-align: end;
}
.ctimg img {
    width: 210px;
}
nav{
    padding: 30px 0 0 0 ;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
}
ul li a{
    font-family: 'Syne';
    font-size: 18px;
    text-decoration: none;
    margin: 0 110px 0 0;
}
.a{
    margin: 0 160px 0 0;
}

/* grp-two */

.grp-two{
    display: flex;
    justify-content: space-between;
}
.logo{
    text-align: end ;
    padding-right: 50px;
}
.logo img{
    width: 106px;
}
.grp-txt {
    padding: 0 80px;
    margin: 20px 0 0 0;
}
.grp-txt h2{
    font-size: 70px;
}
.grp-txt h2 a{
    text-decoration: none;
    color: #ff1800;
}
.grp-txt p{
    font-size: 24px;
    padding: 30px 0;
}
.grp-txt button{
    display: block;
    font-size: 24px;
    background-color: #ff1800;
    border: 0;
    padding: 15px 60px;
    margin-bottom: 110px;
}
.grp-txt  a{
    text-decoration: none;
}
.grp-txt .a1{
    font-size: 24px;
    color: #ff1800;
    text-decoration: none;
}

.world {
    position: relative;
}
.world .img1 {
    width: 179px;
    position: absolute;
    top: 124px;
    left: 0px;
}
.world .img2 {
    width: 96px;
    position: absolute;
    top: 164px;
    left: 42px;
}
.rawimg img {
    width: 854px;
    margin-left: -72px;
    padding: 221px 0;
}