@font-face {
    font-family: 'Syne';
    src: url('Syne-Regular.woff2') format('woff2'),
        url('Syne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

