@font-face {
    font-family: 'Syne';
    src: url('Syne-Bold.woff2') format('woff2'),
        url('Syne-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

